/*

	CSS Rules:

	selector{
		property
	}

*/

h1{

	color: green !important;
	text-align: center;
	font-size: 2rem;
}

*{

	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector*/
	#zuitt-motto{
		/*letter spacing property changes the spaces in between characters of a text*/
		letter-spacing: 5px
	}

/*Class selector*/
/*text-transform property changes fomt to a certain case*/
.offering-item{
	text-transform:uppercase;
}


/*attribute selector*/

[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

h3{

	letter-spacing: 25px

}

/*selector combinators*/

h3 + img{

	height: 300px;
	width: 300px;
	border-radius:150px;
}

/*Child selector*/

ol > li{

	color:#E0AE44;
}

h2 ~ a{

	text-decoration: none;
}

body{
	background-color: skyblue;
}

html{

	scroll-behavior: smooth;
}

nav{
	background-color: white;
}
a:hover{
	background-color: #b4d6de;
}

div{
	display: inline;
	float: right;

}

section{

	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

ol{

	list-style-type:none;
}

h2 + form{

	text-align: center;
	background-color: white;
	position: relative;
	width: 25vw;
	height: 185px;
	border: 2px solid black;
	left: 37.5%;

}

button{
	background-color: #cf0053;
	color: white;
	border:0;
	border-radius:35.7px;
}