#external-styling{

	color: yellow;
}

*{
	font-family: "Verdana",monospace;
	font-size: 15px;


}

h1{

	font-size: 25px;


}
#h_2{

	text-transform: uppercase;


}
.list{
	background-color: #32CD32;

}

li[type="1"]{
	border-style: groove;
	border-color: blue;
}


img + ol{

	list-style-type:none;
	

}

div img{

	height: 200px;
	width: 200px;
	border-radius:150px;
}

div ~ p{

	text-align: center;
}

div > ol{
	letter-spacing: 20px;

}

